<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167195945338-kjian3j1lbjltvctmoltrp2la9tcndqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167195945338-kjian3j1lbjltvctmoltrp2la9tcndqi</string>
	<key>API_KEY</key>
	<string>AIzaSyAMrZq3_D3iROiH6z0ihzJuFlHF1hh9SA4</string>
	<key>GCM_SENDER_ID</key>
	<string>167195945338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherAppV1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>weather-app-a4ac6</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-a4ac6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167195945338:ios:b6ed5dddda3e41b738cec3</string>
</dict>
</plist>